{% extends 'base.html' %}
{% block title %}
    {{ tag.title }} - {{ block.super }}
{% endblock %}

{% block content %}

    <h1 class="mb-5"> Posts with "<i>{{ tag.title|title }}</i>" tags: </h1>
    <a href="{{ tag.get_update_url }}">
        <button type="button" class="btn btn-primary">
            Update the {{ tag.title|title }} tag
        </button>
    </a>
    <a href="{{ tag.get_delete_url }}">
        <button type="button" class="btn btn-danger">
            Delete
        </button>
    </a>
{% endblock %}